@model IEnumerable<FerroApp.ConsumeApi.Models.Producto>

@{
    ViewBag.Title = "Detalles";
}

<h2>Consumiendo Web Api</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Categoria</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) 
            
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
